* {

    margin:0px;
    padding:0px;
    font-family:Arial;

}

.tab {

    display:block;
    position:relative;
    top:50px;

}

#bt1 {

    padding:10px;
    width:100px;
    font-size:20px;
    background:#098;
    border-color:#098;
    border-style:solid;
    border-radius:40px;
    color:#fff; 

}

#bt1:hover {

    padding:12px;

}

.inputs {

    padding:40px;
    background-color:#000;
    border-radius:40px;
    width:500px;
    height:200px;
    opacity:0.88;

}

#nome {

    height:40px;
    width:300px;
    margin:10px;

}

#idade {

    height:40px;
    width:300px;
    margin:10px;

}

#prof {

    height:40px;
    width:300px;
    margin:10px;

}